@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: pretendard, -apple-system, Literata, Poppins, sans-serif;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  h1 {
    @apply text-4xl font-black md:text-5xl text-neutral-800 dark:text-neutral-50 font-eng-sub-font-2;
  }
  h2 {
    @apply text-3xl font-extrabold md:text-4xl text-neutral-800 dark:text-neutral-50 font-eng-sub-font-2;
  }
  h3 {
    @apply text-2xl font-bold md:text-3xl text-neutral-800 dark:text-neutral-50 font-eng-sub-font-2;
  }
  h4 {
    @apply text-xl font-medium md:text-2xl text-neutral-700 dark:text-neutral-100 font-eng-sub-font-2;
  }
  h5 {
    @apply text-lg font-normal md:text-xl text-neutral-600 dark:text-neutral-200 font-eng-sub-font-2;
  }
  h6 {
    @apply text-base font-medium md:text-lg text-neutral-500 dark:text-neutral-300 font-eng-sub-font-2;
  }
  a {
    @apply text-sm md:text-base text-neutral-800 dark:text-neutral-50 hover:underline font-eng-sub-font-2;
  }
  p {
    @apply text-sm md:text-base dark:text-neutral-500 text-neutral-400 font-eng-sub-font-2;
  }
  span {
    @apply text-sm md:text-base text-neutral-800 dark:text-neutral-50 font-eng-sub-font-2;
  }
  hr {
    @apply w-full my-5 border-neutral-300 dark:border-neutral-700;
  }
  input {
    @apply font-medium bg-white text-neutral-800 dark:text-neutral-50 dark:bg-neutral-800 focus:outline-none;
  }
  textarea {
    @apply font-medium bg-white text-neutral-800 scrollbar-hide dark:text-neutral-50 dark:bg-neutral-900 focus:outline-none;
  }
}
